@using FitInsight.Models.ViewModels;

@{
    ViewData["Title"] = "Strona Główna";
}



<header class="hero-img">
    <div class="hero-text">
        <h1>Witaj w Fit<span class="main-color-text">Insight</span></h1>
        <p>W miejscu, gdzie podchodzimy do treningu z pasją</p>
    </div>
    <div class="hero-shadow"></div>
</header>