$color-primary: #4C9A2A; // Główny kolor aplikacji
$color-dark-green: #1E5631; // Ciemniejszy odcień zieleni, może służyć do tła lub akcentów
$color-lime-green: #A4DE02; // Jasny, żywy odcień zieleni, do przyciągania uwagi
$color-grass-green: #76BA1B; // Kolor przypominający trawę, zrównoważony odcień zieleni
$color-light-green: #ACDF87; // Bardzo jasny odcień zieleni, do tła lub delikatnych akcentów
$color-medium-green: #68BB59; // Średni odcień zieleni, uniwersalny
$color-white: #fff; // Biały, do tekstów, tła, itp.
$color-background: #FAF9F4;
$color-background-dark: #212529;
$color-text: #333;